<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=0.02" />
    <!--     <link
      rel="stylesheet"
      href="https://cdn.glitch.com/11f3749e-5110-4ce7-a288-bb3720dc9943%2Fdeliver.css?v=1618784480275"
    /> -->
    <link rel="stylesheet" href="style.css" />
  </head>

  <body id="weatherUI">
    <main>
      <h1></h1>
      <!--       <a href="https://petite-lydian-idea.glitch.me"
        ><span>
          


        </span> -->
      <div class="boxed">
        <div class="card">
          <div class="search"></div>
        </div>
        <!--         <img class="App-logo" src="https://cdn.glitch.com/11f3749e-5110-4ce7-a288-bb3720dc9943%2F1.png?v=1618784377335" alt="the sun!!" /> -->
        <div></div>
        <div class="card">
          <div class="search">
            <input
              type="text"
              class="search-bar"
              placeholder="Any Major City"
            />
            <button class="" id="SwitchColor">click</button>
          </div>
          <div class="weather loading">
            <h2 class="city"></h2>
            <h1 class="temp">°F</h1>
            <div class="flex">
              <!--               <img src="img/sun.svg" alt="" class="icon" /> -->
              <div class="description"></div>
            </div>
            <div class="humidity">Humidity: %</div>
            <div class="wind">Wind speed: mi/h</div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="script.js"></script>
</html>
