<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=0.06" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="headerBar.css" />
    <link rel="stylesheet" href="mobileView.css" />
    <link rel="stylesheet" href="modal.css" />
    <title>w/UI</title>
  </head>
  <body>
    <header class="main-header">
      <div class="">
        <a href="#"></a>
      </div>

      <ul class="nav-links">
        <li class="nav-link">
          <a target="_blank" href="https://github.com/jcom619">About</a>
        </li>

        <li class="nav-link">
          <a target="_blank" href="https://petite-lydian-idea.glitch.me/test"
            >test</a
          >
        </li>
      </ul>
    </header>
    <main>
      
    <div class="word-wrapper">
      

<h1>
  <b>Weather</b>UI
  </h1>

<div class="mocean-wrap mocean-modal-wrap" id="mocean-modal-wrap">
	<div class="mocean-content mocean-modal" id="mocean-modal">
		<h3>Live demo</h3>
		<div class="mocean-modal-content">
			  <iframe title="test" src="https://petite-lydian-idea.glitch.me/test" style="border-radius:10px;height: 615px;width: 900px;margin-bottom:10vh;" frameborder="0"></iframe>

		</div>
	</div>
</div>
<!--    <iframe title="test" src="https://petite-lydian-idea.glitch.me/test" style="border-radius:10px;height: 40vh;width: 60vw;margin-top:30vh;margin-left:240px;border: 3px solid goldenrod;text-shadow: 2px 1px 2px white;" frameborder="0"></iframe> -->
</div>
      <div class="wrapper">
  <div class="sliding-background">
        </div>
      </div>
      
    </main>
    <script src="script.js"></script>
  </body>
</html>
